@use '../../theme';

.info-container {
    display: flex;
    flex-direction: column;
    text-align: right;
    @media screen and (max-width: 900px) {
        text-align: center;
        margin: 5vh;
    }

    .title {
        color: theme.$black-600;
        font-size: 3vw;
        overflow: hidden;
        width: 25vw;
        text-overflow: ellipsis;
        @media screen and (max-width: 900px) {
            width: auto;
        }
    }

    .value {
        color: theme.$black-700;
        font-size: 7vw;
    }

    .description {
        color: theme.$black-500;
        font-size: 3vw;
    }
}
